<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<div class="nameview">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6 name">
      <div class="wrapper">
        <h1>CODY CONDON</h1>
        <h5>Front-End Developer</h5>
      </div>
    </div>
  </div>
</div>

<div class="about-me">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="profilephoto">
          <img src="facebookphoto.jpg" alt="">
        </div>
      </div>

      <div class="col-md-7 about-me-info">
        <h5>Hey, I'm Cody, a Front End Developer from Canada.</h5>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolores, nulla, optio, quasi magni nobis possimus magnam fuga quo, cumque sunt obcaecati sint corrupti voluptas autem. Possimus, sapiente optio nisi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id culpa illo enim velit? Unde asperiores a ea! Sunt nobis ducimus voluptatibus, cum. Asperiores, commodi blanditiis nemo perferendis obcaecati fugiat quod.</p>
      </div>

    </div>
  </div>
</div>

<div class="skills">
  <div class="container">

    <div class="row">
      <div class="col-md-12 title">
        <br>
        <h1>My Working Skills</h1>
      </div>
    </div>

      <div class="row skill-blocks">
        <div class="col-md-3">
          <div class="skill-block" style="background-color:#013974;">
            <p>HTML/CSS</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="skill-block" style="background-color:#433B74;">
            <p>JAVASCRIPT&JQUERY</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="skill-block" style="background-color:#8D3871;">
            <p>SASS</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="skill-block" style="background-color:#DB1467;">
            <p>RESPONSIVE DESIGN</p>
          </div>
        </div>
      </div>


  </div>
</div>


</body>
</html>
