<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="nameview">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 name">
      <div class="wrapper">
        <h1>CODY CONDON</h1>
        <h5>IOS Developer</h5>
      </div>
    </div>
  </div>
</div>


<div class="about-me">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <div class="profilephoto">
          <img src="facebookphoto.jpg" alt="">
        </div>
      </div>

      <div class="col-md-7 about-me-info">
        <h5>Hey, I'm Cody, an IOS Developer from Toronto.</h5>
        <br>
        <p>I am here to create that stunning user experience for clients.
          Have over 2 years of programming experience with solid knowledge in Swift 3.0 and xcode.
           Skills also include Javascript, HTML/CSS , and Ruby on Rails</p>
           <p>Coming from a strong background of marketing, design and music.
            I've worked with various major record labels, teaming with their artists.
             Whom I met with and wrote for accordingly depending on the individuals image and perspective on music</p>

      </div>

    </div>
  </div>
</div>



<div class="skills">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title">
        <br>
        <h1>My Working Skills</h1>
      </div>
    </div>

      <div class="row skill-blocks">



        <div class="col-md-3">
          <div class="skill-block" style="background-color:#013974;">
            <p>Swift 3.0</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="skill-block" style="background-color:#433B74;">
            <p>Xcode 8</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="skill-block" style="background-color:#8D3871;">
            <p>Core Data</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="skill-block" style="background-color:#DB1467;">
            <p>Git/Github</p>
          </div>
        </div>



      </div>

      <div class="row skill-blocks">

        <div class="col-md-3">
          <div class="skill-block" style="background-color:#DB1467;">
            <p>MVC</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="skill-block" style="background-color:#8D3871;">
            <p>Ruby on Rails</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="skill-block" style="background-color:#433B74;">
            <p>Javascript</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="skill-block" style="background-color:#013974;">
            <p>HTML/CSS</p>
          </div>
        </div>


      </div>

  </div>
</div>



<div class="work-experience">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="panel panel-default black-panel">
          <div class="panel-body">
            <h4>WORK EXPERIENCE</h4>
            <br>
            <h5>Freelance Developer</h5>
            <p>Creating apps in IOS10 and Swift. Also working online to creating websites built with Ruby On Rails.</p>
            <hr style="opacity:0.4;">
            <h5>Match Marketing Group</h5>
            <h6>Wireless Representative</h6>
            <p>Intercepting and creating rapport with existing retail customers showcasing wireless devices
            all for the top 6 Canadian wireless carriers.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default black-panel">
          <div class="panel-body">
            <h4>EDUCATION</h4>
            <br>
            <h5>Bitmaker</h5>
            <h6>January 2016</h6>
            <p>9 week full-immersive web development bootcamp. Focusing in creating
            full stack developers. Focusing on Ruby on Rails.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title">
        <br>
        <h1>My Projects/My Apps</h1>
      </div>
    </div>

    <div class="row project-blocks">

      <a href="https://sightcast.herokuapp.com/">
        <div class="col-md-3">
          <div class="project-block" id="sightcast" style="background-color:#DB1467" >
            <p>SIGHTCAST</p>
          </div>
        </div>
      </a>

      <a href="https://codycondon.herokuapp.com/">
        <div class="col-md-3">
          <div class="project-block" id="portfolio1" style="background-color:#8D3871"  >
            <p>PORTFOLIO1</p>
          </div>
        </div>
      </a>

      <a href="https://alpha-blog-cody-2.herokuapp.com/">
        <div class="col-md-3">
          <div class="project-block" id="blogger1" style="background-color:#433B74"  >
            <p>BLOGGER</p>
          </div>
        </div>
      </a>

      <a href="https://shielded-waters-78589.herokuapp.com/">
        <div class="col-md-3">
          <div class="project-block" id="portfolio2" style="background-color:#013974"  >
            <p>PORTFOLIO2</p>
          </div>
        </div>
      </a>
    </div>

    <div class="row project-blocks">
      <a href="https://github.com/codycc">
        <div class="col-md-3">
          <div class="project-block" id="github" style="background-color:#00001C"  >
            <p>GITHUB</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row quote">
  <div class="container">
    <div class="col-md-6">
      <div class="panel panel-default black-panel">
        <div class="panel-body">
          <img src="quote.png" alt="">
          <h4>PASSION</h4>
          <br>
          <br>
          <p>No matter how demanding the project. I am willing to give %100 effort. Will use all available resources, and promise to go above and beyond the clients needs. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row contact">
  <div class="container">
    <div class="col-xs-12">

      <a href="">CODYCONDON50@GMAIL.COM</a>
      <br>
      <br>
      <a href="https://github.com/codycc/new_portfolio_website" id="repo">Repo for this website</a>
    </div>
  </div>
</div>


</body>
</html>
