@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 $beige: #E5CDB5;
 $violet: #5768EF;
// TYPOGRAPHY
h1,h2,h3,h4,h5,h6,p,a {
font-family: avenir next;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
 h1 {
   padding:0px;
   margin: 0px;
 }
 a {
   &:hover {
    text-decoration:none;
   }

 }
 .nameview {
   background:linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),image-url("vegas.jpg")no-repeat center center fixed;
    background-size:cover;
    height:100vh;
    vertical-align: middle;
    padding-top:20%;
    .name {
      text-align:center;
      .wrapper {
        margin: 0 auto;
        background-color:rgba(0, 0, 0, 0.81);
        padding: 15px 0px;
        width:350px;
        display:none;
        color:grey;
        h1 {
          font-weight:lighter;
          letter-spacing: 2px;
          font-size:38px;
          display:none;
        }
        h5 {
          font-size:20px;
          display:none;
        }
      }
    }
 }

 .about-me {
   background-color:rgba(168, 235, 176, 1);
   padding-top:50px;
   padding-bottom:50px;
   .about-me-info {
     padding:30px;
     h5 {
       font-size:25px;
     }
     p{
       font-size:18px;
     }
   }
 }

 .profilephoto img {
   height:200px;

   display: block;
   margin: 0 auto;
   margin-top:30px;
   border: 3px solid #433B74;
 }


.skills {
  background-color:#F6F6F6;
  padding-top:30px;
  padding-bottom:60px;
  .title {
    text-align:center;
  }
  .skill-blocks {
    margin-top:30px;
    .skill-block {
      height:220px;
      width:220px;
      display:block;
      margin: 0 auto;
      text-align:center;

      p {
        padding-top:95px;
        color:white;
        font-weight:bold;
        letter-spacing:1px;
        font-size:20px;
      }
      .col-md-3 {
        padding:0px;
      }
    }
  }
}

.work-experience {
  background:linear-gradient(
       rgba(0,0,0,0.7),
       rgba(0,0,0,0.7)
       ),image-url("vegas2.jpg")no-repeat center center fixed;
   background-size:cover;

   padding-top:70px;
   padding-bottom:70px;
}

.black-panel {
  color:white;
  background-color:rgba(0, 0, 0, 0.57);
  border:none;
  p {
    font-weight:lighter;
  }
  h4 {
    font-size:25px;
  }
  h5 {
    font-size:20px;
  }
}

.projects {
  background-color:rgba(168, 235, 176, 1);
  padding-top:70px;
  padding-bottom:70px;
  img {
    height:210px;
    width:210px;

  }
  h1 {
    text-align:center;
  }

  .project-blocks {
    margin-top:30px;
    .project-block {
      height:280px;
      width:280px;
      display:block;
      margin: 0 auto;
      text-align:center;
      p{
        color:white;
        font-weight:bold;
        font-size:40px;
      }
      &:hover {
        p {
          display:none;

        }
      }

    }
    #sightcast {
      padding-top:115px;
      &:hover {
        background:image-url("sightcastpreview.png");
        background-size:cover;
      }
    }
    #portfolio1 {

      &:hover {
        background:image-url("portfolio1.png");
        background-size:cover;
      }
    }

    #blogger1 {
      padding-top:115px;
      &:hover {
        background:image-url("blogger1.png");
        background-size:cover;
      }
    }

    #portfolio2 {
      &:hover {
        background:image-url("portfolio2.png");
        background-size:cover;
      }
    }

    #github {
      &:hover {
        background:image-url("github.png");
        background-size:cover;
      }
    }
  }
}

.quote {
  background:linear-gradient(
       rgba(0,0,0,0.7),
       rgba(0,0,0,0.7)
       ),image-url("venice.jpg")no-repeat center center fixed;
   background-size:cover;
   padding-top:70px;
   padding-bottom:70px;
   img {
     height:100px;
     opacity:0.5;
   }
   p{
     font-size:20px;
   }
}

.contact {
  background-color:#00001C;
  text-align:center;
  height:90px;
  padding-top:15px;
  a {
    background-color:#013974;
    padding:7px 10px;
    color:white;
    font-weight:bold;

  }
  #repo {
      background-color:#433B74
  }
}


@media screen and (max-width: 800px) {
    body {
        background-color: lightgreen;
    }
}
