@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
 $beige: #E5CDB5;
 $violet: #5768EF;
// TYPOGRAPHY
 h1 {
   padding:0px;
   margin: 0px;
 }
 .nameview {
   background:linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
        ),image-url("vegas.jpg")no-repeat center center fixed;
    background-size:cover;
    height:100vh;
    vertical-align: middle;
    padding-top:20%;
    .name {
      text-align:center;
      .wrapper {
        margin: 0 auto;
        background-color:rgba(255, 255, 255, 0.66);
        padding: 15px 0px;
        width:350px;
        h1 {
          font-weight:lighter;
          letter-spacing: 2px;
          font-size:40px;
        }
        h5 {
          font-size:20px;
        }
      }
    }
 }

 .about-me {
   padding-top:50px;
   padding-bottom:50px;
   .about-me-info {
     padding:30px;
     h5 {
       font-size:20px;
     }
     p{
       font-size:15px;
     }
   }
 }

 .profilephoto img {
   height:200px;

   display: block;
   margin: 0 auto;
   margin-top:30px;
   border: 3px solid #433B74;
 }


.skills {
  background-color:#F6F6F6;
  padding-top:30px;
  padding-bottom:60px;
  .title {
    text-align:center;
  }
  .skill-blocks {
    margin-top:30px;
    .skill-block {
      height:210px;
      width:210px;
      display:block;
      margin: 0 auto;
      text-align:center;
      p {
        padding-top:100px;
        color:white;
        font-weight:bold;
        letter-spacing:1px;
      }
      .col-md-3 {
        padding:0px;
      }
    }
  }
}

.work-experience {
  background:linear-gradient(
       rgba(0,0,0,0.7),
       rgba(0,0,0,0.7)
       ),image-url("vegas2.jpg")no-repeat center center fixed;
   background-size:cover;

   padding-top:70px;
   padding-bottom:70px;
  .work-panel {
    color:white;
    background-color:rgba(0, 0, 0, 0.57);
    border:none;
    p {
      font-weight:lighter;
    }
    h4 {
      font-size:25px;
    }
    h5 {
      font-size:20px;
    }
  }
}
